# Helm Chart for aws-service-quotas-exporter


## Repository
```bash
helm repo add cloudflare-exporter https://lablabs.github.io/aws-service-quotas-exporter/
helm install aws-service-quotas-exporter/aws-service-quotas-exporter
```

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}
